@import "~antd/dist/antd.css";

.menu {
  padding: 0 20px;
  border-bottom: solid 1px #e8e8e8;
  overflow: auto;
  box-shadow: 0 0 30px #f3f1f1;
  background-color: #1028a7;
  height: 70px;
}

.menu__logo {
  width: 100px;
  float: left;
  height: 40px;
}

.menu__logo a {
  display: inline-block;
  font-size: 20px;
  padding: 19px 20px;
  height: 50px;
}

.menu__container .ant-menu-item {
  padding: 0px 5px;
}

.menu__container .ant-menu-submenu-title {
  padding: 10px 20px;
}

.menu__container .ant-menu-item a,
.menu__container .ant-menu-submenu-title a {
  padding: 10px 15px;
}

.menu__container .ant-menu-horizontal {
  border-bottom: none;
}

.menu__container .menu_left {
  float: left;
}

.menu__container .menu_rigth {
  float: right;
}

.menu__mobile-button {
  float: right;
  height: 32px;
  padding: 6px;
  margin-top: 8px;
  display: none !important; /* use of important to overwrite ant-btn */
  background: #3e91f7;
}

.menu_drawer .ant-drawer-body {
  padding: 0 !important;
}

/* align header of Drawer with header of page */
.menu_drawer .ant-drawer-header {
  padding: 14px 24px !important;
}

@media (max-width: 767px) {
  .menu__mobile-button {
    display: inline-block !important;
  }

  .menu_left,
  .menu_rigth {
    display: none;
    align-items: center;
    text-align: center;
  }

  .menu__logo a {
    margin-left: -20px;
  }

  .menu__container .ant-menu-item,
  .menu__container .ant-menu-submenu-title {
    padding: 1px 20px;
  }

  .menu__logo a {
    padding: 10px 20px;
  }
}

/* Navbar */
#navbar {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between; /*수평축이니까*/
  background-color: transparent;
  align-items: center; /*수평축에 반대로 수직으로 센터해야지 빈대로 정령=align items*/
  /* color: var(--color-white); */
  color: #ffffff;
  padding: 16px; /*좀 안으로 넣자*/
  transition: all var(--animation-duration) ease-in-out;
  z-index: 1;
}

#navbar.navbar--dark {
  background-color: #df92b8;
  padding: 6px;
}
.navbar__menu {
  display: flex; /*flex박스로 한줄로 정렬*/
  margin-top: 10px;
  margin-bottom: 0%;
}
.navbar__logo {
  font-size: var(--font-large);
  font-weight: var(--weight-semi-bold);
  font-family: "Times New Roman", Times, serif;
  font-size: medium;
  color: #616161;
}
.navbar__menu__item {
  padding: 8px 12px; /*간격이 넘 없어서 주고 위8 양옆12 4개로 나눌땐 시계방향*/
  margin: 4px;
  cursor: pointer; /*마우스 올라가면 손가락 모양이 됨*/
  border-radius: var(--size-border-radius);
  border: 1px solid transparent;
  align-items: center;
  text-align: center;
  color: #ffffff;
  font-weight: 700;
  font-size: medium;
}

.navbar__menu__item:hover {
  background-color: #aec1eb;
  border-color: var(--color-white);
}

.navbar__toggle-btn {
  position: absolute; /*기존의 위치에서 빠져나오기*/
  top: 22px;
  right: 32px;
  font-size: 24px;
  /* color: var(--color-light-white); */
  color: #aec1eb;
  display: none; /*평소에는 보이면 안되기 때문에*/
}
